{% extends "admin/layout.html.twig" %}
{% block content %}

    <div>
        <h2>لطفا فرم زیر را پر کنید :</h2>
        <form method="POST" action="" >
            <label>نام دسته :    <input type="text" placeholder="نام دسته را وارد کنید" name="name"></label><br><br>
            <input type="submit" value="افزودن" >
        </form>
    </div>
{% endblock %}   