{% extends "admin/layout.html.twig" %}
{% block content %}
     {% for m in messages %}
         <div class="alert alert-danger" style="width: 300px; text-align: center; margin: 10px auto;    "> {{m}} </div>
    {% endfor %}
    <div>
        <form method="POST" action="" role="form">
            <div class="form-group">
                <label for="pname">Product name:</label>
                <input type="text"  name="name" class="form-control" id="pname">
            </div>
            <input type="submit" value="Save" >
        </form>
    </div>
{% endblock %}   