{% extends "admin/layout.html.twig" %}
{% block content %}
{% for m in messages %}
        <div class="alert alert-danger danger"> {{m}} </div>
    {% endfor %}
    <div>
        <form action="" method="post" role="form" enctype="multipart/form-data">
            <div class="form-group">
                <label for="pname">Product name:</label>
                <input type="text"  name="name" class="form-control" id="pname">
            </div>
            <div class="form-group">
                <label for="pr">Price:</label>
                <input type="text"  name="price" class="form-control" id="pr">
            </div>
            <div class="form-group">
                <label for="count">Quantity:</label>
                <input type="number"  name="count" class="form-control" id="count">
            </div>
            <div class="form-group">
                <label for="serial">Serial Number:</label>
                <input type="text"  name="serialnumber" class="form-control" id="serial">
            </div>
            <div class="form-group">
                <label for="des">Describtion :</label>
                <textarea rows="5"name="describe" class="form-control"  id="des"></textarea>        
            </div>
            <div class="form-group">
                <label for="cat">Category : </label>
                <select name="category_name" id="cat" class="form-control">
                    {% for c in category %}
                        <option>{{c.name}}</option>
                    {% endfor %}   
                </select>     
            </div>
            <div class="form-group">
                <label for="pic">Picture : </label><input type="file" name="picture" id="pic"  class="form-control">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
{% endblock %}   