{% extends "admin/layout.html.twig" %}
{% block content %}

    <div>
        <form action="" method="post" role="form">
            <h3 style="text-align: center; color: red ">Are you sure you want to delete this item ? </h3>
            <input type="submit" name="conf" class="form-control" value="yes">
            <input type="submit" name="conf" class="form-control" value="no">
        </form>
    </div>
{% endblock %}   