{% extends "admin/layout.html.twig" %}

{% block menu %}
{% endblock %}


{% block content %}
    <form action="" method="post">
        <label>ایمیل : <input type="text" name="email"></label><br>
        <label>رمزعبور : <input type="password" name="password"></label><br>
        <label>به خاطر بسپار : <input type="checkbox" name="remember"></label><br>
        <input type="submit" value="ورود">
    </form>
{% endblock %}  
