{% extends "layout.html.twig" %}
{% block content %}
    {% for m in messages %}
        <div class="alert alert-danger"> {{m}} </div>
    {% endfor %}
    <form action="" method="post" role="form">

        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" name="password" class="form-control" id="pwd">
        </div>
        <div class="form-group">
            <label for="pwd">Confirm Password:</label>
            <input type="password" name="password2" class="form-control" id="pwd">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}

{% block menu %}
{% endblock %}
{% block slider %}
{% endblock %}