{% extends "layout.html.twig" %}
{% block content %}
    {% if msg is not empty %}

        <strong style="color: green">{{msg}}</strong>
    {% endif %}
    <form action="" method="post">
        <label>ایمیل : <input type="text" name="email"></label><br><br>
        
        <input type="submit" value="تغییر رمز">
    </form>
{% endblock %}

{% block menu %}
    {% endblock %}