{% extends "layout.html.twig" %}
{% block content %}
    {% if msg is not empty %}

    {% endif %}
    
    <form action="" method="post">
        <label>نام : <input type="text" name="fname"></label><br><br>
        <label>نام خانوادگی : <input type="text" name="lname"></label><br><br>
        <label>ایمیل : <input type="text" name="email"></label><br><br>
        <label>رمزعبور  :  <input type="password" name="password"></label><br><br>
        <input type="submit" value="ثبت ">
    </form>
{% endblock %}

{% block menu %}
    {% endblock %}